<h3>You are responding to <%=@user.full_name%>'s post:</h3>

<h1><%=@post.title%></h1>
<h1><%=@post.content%></h1>



<%= form_tag("/comments", method: "post") do %>
  <input type="hidden" name="post[id]" value="<%=@post.id%>">
  <h3>Title</h3>
  <input autocomplete="off" class="new_form_title" type="text" name="comment[title]"><br>
  <h3>Content</h3>
  <textarea class="new_form_content" name="comment[content]"></textarea><br>
  <button class="policy_search" type="submit">
    Deliver Comment
  </button>
<% end %>
