<h1>Create New Account</h1>

<%= form_for @user do |f|%>

  <h3><%=f.label :first_name %></h3>
  <%=f.text_field :first_name %><br>

  <h3><%=f.label :last_name %></h3>
  <%=f.text_field :last_name %><br>

  <h3><%=f.label :username %></h3>
  <%=f.text_field :username %><br>

  <h3><%=f.label :password %></h3>
  <%= f.password_field :password%><br>

  <h3><%=f.label :password_confirmation %></h3>
  <%=f.password_field :password_confirmation %><br>

  <input style="margin-top:10px;margin-bottom:20px;" class="policy_search" type="submit" name="commit" value="Create User" data-disable-with="Create User">

<% end %>
