<h1><%=@user.full_name%></h1>

<h2>Posts</h2>
<ul>
  <% @user.posts.each do |post|%>
  <h3><%= link_to post.title, post_path(post)%></h3>
  <p>Content: <%= post.content%></p>
  <span>_______________________</span>
  <% end %>
</ul>

<h2>Policies</h2>
<ul>
  <% @user.policies.each do |policy|%>
      <h3><%= link_to policy.title, policy_path(policy)%></h3>
      <p>Description: <%= policy.description%></p>
      <p>Category: <%= policy.category%></p>
      <span>_______________________</span>
  <% end %>
</ul>


<%= link_to "All Users", users_path%>
