<h1 class="profile_name"><%=@user.full_name%></h1>

<h2 class="negative_margin">Activity</h2>

<div class="user_home_posts">
  <% @user.posts.each do |post|%>
    <div class="double_bottom_border">
      <% if post.post_or_comment == "Post"%>

        <p class="red_background emphasis"><%=post.created_at.to_date%> :: <%= link_to post.title, post_path(post)%> :: <%=post.content%></p>
        <p class="bit_o_left_margin de-emphasis"><%=post.post_or_comment%> on
          <%= link_to post.policy.candidates.first.name, candidate_path(post.policy.candidates.first)%>'s
          <%=link_to post.policy.title, policy_path(post.policy)%> Policy</p>

      <% else %>

        <p class="blue_background emphasis"><%=post.created_at.to_date%> :: <%= link_to post.title, post_path(post)%> :: <%=post.content%></p>
        <p class="bit_o_left_margin de-emphasis"><%=post.post_or_comment%> on
          <%= link_to post.policy.candidates.first.name, candidate_path(post.policy.candidates.first)%>'s
          <%=link_to post.policy.title, policy_path(post.policy)%> Policy</p>

      <% end %>
    </div>
  <% end %>
</div>
