
      <h1 class="candidate_title"><%=@candidate.name%></h1>
      <a target="_blank" href=<%=@candidate.twitter%> class="fa fa-twitter"></a>

      <%= form_for @article do |f| %>
        <input type="hidden" name="candidate[id]" value="<%=@candidate.id%>">
        <%=f.submit "Refresh"%>
      <% end %>

    <div class="candidate_container">

        <div class="candidate_basics">
          <h2>Candidate Information</h2>
          <img style="width:100px;" src="<%=@candidate.image%>" alt="<%=@candidate.name%>">
          <p><span><%=@candidate.age%> yrs</span></p>
          <p><span>Born in <%=@candidate.born%></span></p>
          <p><span><%=@candidate.current_position%> | <%=@candidate.state%></span></p>
          <p class="text-justify"><span><%=@candidate.bio%></span></p>
          <a href=<%=@candidate.website%>>Website</a><br>
        </div>

        <div class="candidate_policies" >
          <h2>Policies</h2>
            <% @candidate.policies.each do |policy|%>
                <h3><%= link_to policy.title, policy_path(policy)%></h3>
            <% end %>
        </div>

        <div class="candidate_articles">
          <h2>Recent Articles</h2>
            <% @candidate.articles.each do |article|%>
                <h3><a target="_blank" href="<%=article.url%>"><%=article.title%></a></h3>
                <p class="text-justify">Description: <%= article.description%></p>
                <p><%= article.source%>: <%= article.author%></p>
                <p><%= article.publish_date%></p>
            <% end %>
      </div>

    </div>
