<h3><%= link_to @post.user.full_name, user_path(@post.user)%>'s post on <%=@post.policy.candidates.first.name%>'s <%= link_to @post.policy.title, policy_path(@post.policy)%> Policy</h3>
<h1><%=@post.title%></h1>
<h2><%=@post.content%></h2>


<% if @post.user.id == current_user.id %>
  <%= form_tag("/posts/:id/edit", method: "get") do %>
   <input type="hidden" name="post[id]" value="<%=@post.id%>">
   <button class="policy_search" type="submit">
     Edit Post
   </button>
   <% end %>

   <%= form_tag("/posts/:id", method: "delete") do %>
    <input type="hidden" name="policy[id]" value="<%=@post.policy.id%>">
    <input type="hidden" name="post[id]" value="<%=@post.id%>">
    <button class="policy_search" type="submit">
      Delete Post
    </button>
  <% end %>
<% end %>
