<!DOCTYPE html>
<html>
  <head>
    <title>YourPrimarySource</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav_bar">

      <div class="nav-list">
        <div class="nav-items-container">
          <div class="nav_items">
            <% if current_user %>
                <p class="nav_item"><%= link_to "My Profile", user_path(current_user)%></p>
                <p class="nav_item"><%= link_to "Candidates", candidates_path%></p>
                <p class="nav_item"><%= link_to "Policies", policies_path%></p>
                <p class="nav_item"><%= link_to "Register to Vote", register_path %></p>
                <p class="nav_item"><%= link_to "Log Out", logout_path%></p>
            <% else %>
                <p class="nav_item"><%= link_to "Sign Up", signup_path%></p>
                <p class="nav_item"><%= link_to "Log In", login_path%></p>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <img class="main_logo" src="https://user-images.githubusercontent.com/47403119/63399912-3b0da380-c38f-11e9-910d-5c1b6471f90c.png" alt="Primary Source Logo">

    <% flash.each do |name, msg|%>
      <%= content_tag :div, msg.html_safe%>
    <% end %>

    <%= yield %>
  </body>
</html>
