<form action="/policies" method="get">
  <select class="policy_dropdown" name="policy[policy_name]" id="policy_name">
    <option>All Policies</option>
    <option>Healthcare</option>
    <option>Immigration</option>
    <option>The Climate Crisis</option>
    <option>Education</option>
    <option>Reproductive Rights</option>
    <option>Government Reform and Anti-Corruption</option>
    <option>Poverty and Inequality</option>
    <option>Voting Rights</option>
    <option>Criminal Justice Reform</option>
    <option>Taxes and Economics</option>
    <option>Foreign Policy</option>
    <option>Guns</option>
    <option>Reparations</option>
    <option>Identity and Social Justice</option>
    <option>Housing</option>
    <option>Family Issues</option>
    <option>Business and Teach Regulation</option>
  </select><br>
  <select class="policy_dropdown" name="policy[candidate_id]" id="candidate_id">
    <option>All Candidates</option>
    <%=@candidates.each do |candidate|%>
      <option value="<%=candidate.id%>"><%=candidate.name%></option>
    <% end%>
  </select><br>
  <input class="policy_search" type="submit" name="commit" value="Search">
</form>

<% if @policies %>
  <% @policies.each do |policy|%>
    <div class="policy_card">

      <div class="policy_item">
        <p><%= link_to policy.candidates.first.name, candidate_path(policy.candidates.first)%></p>
        <img class="policy_image" src="<%=policy.candidates.first.image%>" alt="<%=policy.candidates.first.name%>">
      </div>

      <div class="policy_item">
        <p class="description"><%= policy.description%></p>
      </div>
    </div>
  <% end%>
<% end %>
