<div class="policy_header">
  <h1><%=@policy.title%></h1>
  <h2 class="negative_margin"><% @policy.candidates.each do |candidate|%>
    <%= link_to candidate.name, candidate_path(candidate)%>
    <% end %></h2>
  <h3 class="text-justify"><%=@policy.description%></h3>
  <form action="/policies" method="get">
    <button class="policy_search" type="submit" name="button">
      <input type="hidden" name="policy[policy_name]" value="<%=@policy.title%>">
      <input type="hidden" name="policy[candidate_id]" value="">
      <%= "Other #{@policy.title} Policies"%>
    </button>
  </form>
</div>

<%= form_tag("/posts/new", method: "get") do %>
  <input type="hidden" name="policy[id]" value="<%=@policy.id%>">
  <button class="policy_search" type="submit">
    Create New Post For <%=@policy.candidates.first.name%> To See!
  </button>
<% end %>

<div class="policy_thread">
  <h3><% @policy.posts.reverse.each do |post|%></h3>
  <div class="policy_response_card">
    <% if post.validate_post_not_comment%>

        <p class="red_background"><%=post.created_at.to_date%> :: <%= link_to post.user.full_name, user_path(post.user)%> :: <%= link_to post.title, post_path(post) %> :: <%= post.content%></p>

        <%post.commenters.each do |comment|%>
            <small class="comment_header"><%=comment.created_at.to_date%> :: <%= link_to comment.user.full_name, user_path(comment.user)%> :: <%= link_to comment.title, post_path(comment) %></small><br>
            <small class="comment_body"=><%= comment.content%></small><br><br>
        <%end%>

        <%= form_tag("/comments/new", method: "get") do %>
          <input type="hidden" name="post[id]" value="<%=post.id%>">
          <button class="policy_search" type="submit">
            Respond
          </button>
        <% end %>

    <% end %>
  </div>

  <% end %>
</div>
