<div class="policy_header">
  <h1><%=@policy.title%></h1>
  <h2 class="negative_margin"><% @policy.candidates.each do |candidate|%>
    <%= link_to candidate.name, candidate_path(candidate)%>
    <% end %></h2>
  <h3 class="text-justify"><%=@policy.description%></h3>
  <%= link_to "Other #{@policy.title} Policies", policies_path%>
</div>

<div class="policy_thread">
  <h3><% @policy.posts.reverse.each do |post|%></h3>
    <p><%=post.created_at.to_date%> :: <%= link_to post.user.full_name, user_path(post.user)%> :: <%= link_to post.title, post_path(post) %></p>
    <p class="bit_o_left_margin bit_o_right_margin"><%= post.content%></p><br>
  <% end %>
</div>


<%= form_tag("/posts/new", method: "get") do %>
  <input type="hidden" name="policy[id]" value="<%=@policy.id%>">
  <button class="inputbutton" type="submit">
    Create New Post
  </button>
<% end %>
